[defaults]
# Emplacement de l'inventaire par défaut
; inventory = ./hosts.ini
# Utilisateur cible
remote_user = deploy
# Clé privée pour la connexion
private_key_file = ~/.ssh/id_rsa_miniclasses_ansible
# Fixe l'interpréteur pour supprimer les warnings
interpreter_python = /usr/bin/python3
# Désactive la vérification de l'empreinte SSH du serveur
host_key_checking = False
# Force Ansible à chercher les rôles à la racine du projet
roles_path = ./roles
