<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Lab 3</title>
</head>
<body>

    <h1>Page générée par Ansible</h1>
    <p>Le playbook a correctement configuré ce serveur.</p>
    
    <hr>

    <p>Nom de la machine cible (magic variable !) : <b>{{ inventory_hostname }}</b></p>

</body>
</html>